.ponentes{
        margin-top: 50px;
        gap: 10%;
        display: flex;
        flex-flow: row; 

        justify-content: center;
        align-content: space-between;
        align-items: baseline;
        flex-wrap: wrap;
    }
        .ponentes>div,
        .ponentes button{
            width: 30%;
            border-radius: 100%;
            background-color: transparent;
            border-style: none;

            justify-content: center;
            text-align: center;
        }
        .ponentes>div{
            text-align: center;
        }
        .ponentes{
            text-align: center;
        }
        .ponentes img,
        .ponentes button{
            text-align: center;
            width: 80%;
        }
        .ponentes{
            margin-bottom: 30px;
        }
        .ponentes img:hover{
            box-shadow: 0px 0px 10px rgba(0,0,0, 0.4);
        }
        .ponentes button h3{
            text-align: center;
            color: #9d2148;
            font-weight: 500;
            font-size: 16px;
        }
        .ponentes button h3:hover{
            text-shadow: 2px 2px 2px rgba(0,0,0, 0.4);
        }
        .ponentes button h3:hover{
            color: #9d2148;
            font-weight: 700;
            border-bottom: #9d2148;
            text-decoration: underline;
        }
        .ponentes .ponente .popOpen img,
        .ponentes .ponenteA .popOpen img{
            border-radius: 0;
            border: none;
            box-shadow: 0px 0px 15px rgba(0,0,0, 0.6);

            animation: popOpen 0.3s ease-out forwards;
        }   @keyframes popOpen{
                from{
                    opacity: 0;
                    transform: scale(0.9);
                }
                to{
                    opacity: 1;
                    transform: scale(1);
                }
            }
        .ponentes .ponente .popOpen,
        .ponentes .ponenteA .popOpen{
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            border-radius: 0;
            border: none;
            background-color: rgba(0,0,0, 0.6);
            background-size: cover;
            align-content: center;

            width: 100vw;
            height: 100vh;
        }
        .ponentes .popOpen .popOut{
            background-color: #b28e5c;
            border-radius: 10px;
            margin-top: 3px;
            padding: 7px 0;
            box-shadow: 5px 5px 5px rgba(0,0,0, 0.4);
            font-size: 16px;
            font-weight: 500;
            color: white;

            animation: popOpen 0.3s ease-out forwards;
        }   
        .ponentes .popOpen .popOut:hover{
            box-shadow: 5px 5px 10px rgba(0,0,0, 0.4);
            text-shadow: 0px 0px 8px rgba(0,0,0, 0.6);
            padding: 9px 0;
        }
        .ponentes .info h3{
            font-size: 16px;
            font-weight: 400;
        }
        .ponentes .info .ocup{
            color: #55585a;
        }
        .ponentes .info .lugar{
            color: #b28e5c;
        }

    .ponentes{
        display: flex;
        flex-flow: row; 
        
    }
    /*Responsive*/
        /*Desktop*/
    @media (min-width: 1200px){
        .ponentes .ponente .popOpen img,
        .ponentes .popOpen .popOut,
        .ponentes .ponenteA .popOpen img{
            width: 50%;
        }
    }
        /*Movil*/
    @media (max-width: 768px){
        .ponentes{
            margin-top: 70px;
            justify-content: baseline;
            align-content: center;
        }
        .ponentes{
            display: flex;
            flex-flow: column; 
            flex-wrap: wrap;
            row-gap: 20px;
        }
        .ponentes img,
        .ponentes button,
        .ponentes .info .ocup,
        .ponentes .info .lugar{
            text-align: center;
            width: 200px;
            justify-content: center;
        }
        .ponentes .ponente .popOpen img,
        .ponentes .popOpen .popOut,
        .ponentes .ponenteA .popOpen img{
            width: 90%;
        }
    }
