        .form form{
            display: grid;
            margin: 10px;
            justify-content: center;
            gap: 10px;
        }
        .form input{
            width: 200px;
        }
        #slcPais{
            width: 200px;
        }
        a{
            color: black;
            text-decoration: none;
        }
.content{
    margin-bottom: 25px;
}
.content .header2 h2{
    justify-self: center;
    color: #b28e5c;
    font-size: 35px;
    font-weight: 800;
    margin-top: 20px;
}
.content h2{
    justify-self: center;
    color: #9d2148;
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
}
.content form{
    display: grid;
    margin: 20px 20px;
}
.content label,
.content p{
    color: #9d2148;
    font-size: 20px;
    font-weight: 600;
}
.content input,
.content select,
.content datalist{
    margin-bottom: 10px;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
}
.content input:focus,
.content select:focus,
.content datalist:focus,
.content textarea:focus{
    box-shadow: 0px 0px 10px rgba(157,33,72, 0.6);
    border-color: #b28e5c;
}
.content .GestorCalidad label{
    margin-right: 10px;
}
.content .GestorCalidad{
    display: flex;
}
.content .GestorCalidad input{
    margin: 0 20px;
}
input[type="radio"] {
  appearance: none;
  
  background-color: #fff;
  margin: 0;
  font: inherit;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  place-content: center;
  transition: all 0.25s;
  border-color: #55585a;
}
input[type="radio"]:checked {
  background-color: #9d2148; 
  border-color: #b28e5c;
}
input[type="radio"]:hover {
  background-color: #b28e5c; 
  border-color: #9d2148;
}
.content .btn{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 600;
}
.content .btn>div{
    margin: 10px 50px;
    color: #fff;
}
.content .btn .submit{
    padding: 15px 40px;
    background-color: #9d2148;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(88,89,90, 0.5);
}
.content .btn .button{
    padding: 15px 40px;
    background-color: #b28e5c;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(88,89,90, 0.5);
}
.content .btn .submit:hover,
.content .btn .button{
    box-shadow: 0px 0px 15px rgba(88,89,90, 0.8);
}
.content .btn a{
    margin: 0;
    justify-self: center;
}
.content button{
    padding: 15px 40px;
    background-color: #b28e5c;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(88,89,90, 0.5);

    font-size: 20px;
    font-weight: 600;
    color: #fff;

    margin: 10px 20px;
}
.content textarea{
    margin-bottom: 10px;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
}
.content .text p{
    text-align: justify;
    margin: 25px 20px 0 20px;
    font-size: 20px;
    color: #55585a;
    font-weight: 400;
}
.content p{
    font-size: 20px;
    color: #55585a;
    font-weight: 400;
}
.content .dia-tab p{
    justify-self: center;
    margin: 10px 20px 0 20px;
    box-sizing: border-box;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    padding: 25px 100vh;
    background-color: #55585a;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(88,89,90, 0.5);
}